.history-main-container{
    color: white;

    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;

    flex-wrap: wrap;
}

.history-card{
    max-width: 300px;
    border: 1px solid grey;
    padding: 16px;

    p{
        color: rgb(224, 219, 219);
    }
}

.search-box-input{
    display: block;
    width: 200px;
    margin: 16px auto;
    padding: 4px 8px;

}