.image-generator-main-container{
    color: white;
    padding: 24px;
}

.image-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    img{
        width: 300px;
    }
}